---
import ArticleTopic from "@/components/ArticleTopic.astro";
import Layout from "@/layouts/Layout.astro";
import {
  getAllBooks,
  getAllResources,
  getAllStories,
  getAllTopics,
  getBookCategoryLabel,
  getStoryRouteSlug,
} from "@/utils/content";

export async function getStaticPaths() {
  const topics = await getAllTopics();
  return topics.map((topic) => ({
    params: { slug: topic.slug },
    props: { topic },
  }));
}

const { topic } = Astro.props;
const stories = (await getAllStories())
  .filter(
    (story) =>
      story.data.language === "en" &&
      (story.data.topic_slugs ?? []).includes(topic.slug),
  )
  .map((story) => ({ frontmatter: { ...story.data, slug: getStoryRouteSlug(story) } }));

const books = (await getAllBooks())
  .filter((book) => (book.data.topic_slugs ?? []).includes(topic.slug))
  .map((book) => ({
    slug: book.slug,
    ...book.data,
    category: getBookCategoryLabel(book.data.category),
  }));

const resources = (await getAllResources())
  .filter((resource) => (resource.data.topic_slugs ?? []).includes(topic.slug))
  .map((resource) => ({ ...resource.data, slug: resource.slug }));

const currentUrl = Astro.url.href;
---

<Layout
  title={`${topic.data.item} - Topic | Otibeguni `}
  schema={{
    "@context": "https://schema.org",
    "@type": "Book",
    name: topic.data.item,
    url: currentUrl,
  }}
>
  <div data-pagefind-body>
    <ArticleTopic
      topic={topic.data}
      stories={stories}
      books={books}
      resources={resources}
    />
  </div>
</Layout>
