---
import Layout from "@/layouts/Layout.astro";
import StoryHeader from "../../../components/StoryHeader.astro";
import StoryMetadata from "../../../components/StoryMetadata.astro";
import ArticleBody from "../../../components/ArticleBody.astro";
import RelatedItemsList from "../../../components/RelatedItemsList.astro";
import {
  bookHasDetailPage,
  findStoryTranslation,
  getAllBooks,
  getAllResources,
  getAllStoryMetadata,
  getAllStories,
  getAllTopics,
  getBookDetailPath,
  getStoryRouteSlug,
  getStoriesByLanguage,
  indexEntriesBySlug,
  renderEntry,
  resolveStoryMetadata,
} from "@/utils/content";
import { buildCanonicalUrl } from "@/utils/seo";

export async function getStaticPaths() {
  const stories = await getStoriesByLanguage("bn");
  return stories.map((story) => ({
    params: { slug: getStoryRouteSlug(story) },
    props: { story },
  }));
}

const { story } = Astro.props;
const { Content } = await renderEntry(story);

const [allStories, allTopics, allBooks, allResources, allStoryMetadata] = await Promise.all([
  getAllStories(),
  getAllTopics(),
  getAllBooks(),
  getAllResources(),
  getAllStoryMetadata(),
]);

const topicBySlug = indexEntriesBySlug(allTopics);
const bookBySlug = indexEntriesBySlug(allBooks);
const resourceBySlug = indexEntriesBySlug(allResources);
const storyMetadataBySlug = indexEntriesBySlug(allStoryMetadata);
const storyRouteSlug = getStoryRouteSlug(story);
const resolvedStory = resolveStoryMetadata(story, storyMetadataBySlug);
const enStory = findStoryTranslation(allStories, storyRouteSlug, "en");
const sourceBook = resolvedStory.data.source_slug
  ? bookBySlug.get(resolvedStory.data.source_slug)
  : undefined;
const sourceBookUrl = sourceBook
  ? bookHasDetailPage(sourceBook)
    ? getBookDetailPath(sourceBook.slug)
    : sourceBook.data.library_url || sourceBook.data.url
  : undefined;

const currentUrl = new URL(Astro.url.pathname, Astro.site).toString();
const canonicalUrl = buildCanonicalUrl(Astro.url.pathname, Astro.site);
const alternateLinks = enStory
  ? [
      { hreflang: "bn", href: canonicalUrl },
      {
        hreflang: "en",
        href: buildCanonicalUrl(`/stories/${getStoryRouteSlug(enStory)}`, Astro.site),
      },
      {
        hreflang: "x-default",
        href: buildCanonicalUrl(`/stories/${getStoryRouteSlug(enStory)}`, Astro.site),
      },
    ]
  : [];
const isBasedOn = sourceBook
  ? {
      "@type": "CreativeWork",
      name: sourceBook.data.name,
      ...(sourceBook.data.author && {
        author: {
          "@type": "Person",
          name: sourceBook.data.author,
        },
      }),
    }
  : null;

const schemaData = {
  "@context": "https://schema.org",
  "@type": "Article",
  headline: story.data.title,
  url: canonicalUrl,
  inLanguage: story.data.language,
  author: {
    "@type": "Organization",
    name: "Otibeguni",
    url: buildCanonicalUrl("/", Astro.site),
  },
  publisher: {
    "@type": "Organization",
    name: "Otibeguni",
    url: buildCanonicalUrl("/", Astro.site),
  },
  ...(isBasedOn && { isBasedOn }),
  ...(resolvedStory.data.cover_image && { image: resolvedStory.data.cover_image }),
};

const iconMap = {
  Deity: "fa-solid fa-burst",
  Person: "fa-solid fa-user",
  People: "fa-solid fa-users",
  Place: "fa-solid fa-location-dot",
  Site: "fa-solid fa-landmark",
  Kingdom: "fa-solid fa-chess-rook",
  Being: "fa-solid fa-ghost",
  Work: "fa-solid fa-book-open",
  Religion: "fa-solid fa-hands-praying",
  Event: "fa-solid fa-calendar-days",
  video: "fa-solid fa-video",
  website: "fa-solid fa-newspaper",
};

const relatedTopics = (resolvedStory.data.topic_slugs ?? [])
  .map((slug) => topicBySlug.get(slug))
  .filter(Boolean)
  .map((topic) => ({
    name: topic.data.item,
    types: topic.data.types || [],
    url: `/topics/${topic.slug}`,
    isExternal: false,
  }));

const relatedResources = (resolvedStory.data.resource_slugs ?? [])
  .map((slug) => resourceBySlug.get(slug))
  .filter(Boolean)
  .map((resource) => ({
    name: resource.data.title,
    type: resource.data.type,
    url: resource.data.url || "",
    isExternal: true,
  }));
const breadcrumbs = [
  { label: "Stories", href: "/bn/stories" },
  { label: story.data.title },
];
---

<Layout
  title={`${story.data.title} - Stories | Otibeguni `}
  schema={schemaData}
  lang="bn"
  canonicalUrl={canonicalUrl}
  alternateLinks={alternateLinks}
  breadcrumbs={breadcrumbs}
>
  <main class="py-8 md:py-12" data-pagefind-body>
    <div class="container mx-auto max-w-4xl px-4">
      <div class="bg-base-100 rounded-xl shadow-lg">
        <article class="p-6 md:p-10">
          <StoryHeader story={{ ...resolvedStory.data, slug: storyRouteSlug }} />

          <StoryMetadata
            category={resolvedStory.data.category}
            sourceBook={sourceBook?.data.name || resolvedStory.data.source_label}
            sourceAuthor={sourceBook?.data.author}
            sourceUrl={sourceBookUrl}
            translationLink={enStory ? `/stories/${getStoryRouteSlug(enStory)}` : undefined}
            translationLabel="Read in English"
          />

          <div class="divider"></div>

          <ArticleBody>
            <Content />
          </ArticleBody>

          {
            relatedTopics.length > 0 && (
              <>
                <div class="divider mt-12" />
                <RelatedItemsList
                  title="Related Topics"
                  items={relatedTopics}
                  iconMap={iconMap}
                />
              </>
            )
          }

          {
            relatedResources.length > 0 && (
              <>
                <div class="divider mt-12" />
                <RelatedItemsList
                  title="Related Resources"
                  items={relatedResources}
                  iconMap={iconMap}
                />
              </>
            )
          }
        </article>
      </div>
    </div>
  </main>
</Layout>
