---
import CardStory from "./CardStory";
import type { IStoryCollection, IStoryList } from "@/types";

interface StoryCollectionSection {
  frontmatter: IStoryCollection;
  stories: IStoryList[];
  Content?: any;
}

const {
  collections,
  path,
  title,
} = Astro.props as {
  collections: StoryCollectionSection[];
  path: string;
  title?: string;
};
---

{
  collections.length > 0 && (
    <section class="not-prose" data-pagefind-body>
      {title && (
        <h3 class="mb-4 text-2xl font-bold">
          {title}
        </h3>
      )}

      <div class="space-y-10">
        {collections.map((collection) => (
          <div class="space-y-4">
            <h4 class="text-lg font-semibold leading-snug md:text-xl">
              {collection.frontmatter.title}
            </h4>

            {
              collection.Content && (
                <div class="text-gray-600">
                  <collection.Content />
                </div>
              )
            }

            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
              {collection.stories.map((story) => (
                <CardStory
                  frontmatter={story.frontmatter}
                  coverImage={story.frontmatter.cover_image}
                  path={path}
                />
              ))}
            </div>
          </div>
        ))}
      </div>
    </section>
  )
}
